[2016-09-09 15:18] mpoquet opened #1 "XBT_INFO blackhole"
### Description

Batsim gets stuck into a blackhole under certain circumstances:
- Batsim must be executed by the experiment tools (does not happen when executed more directly)
- Batsim must be executed in a non-quiet mode (does not happen in quiet mode)
- This bug seems deterministic, but it only occurs on some input files!
### Steps to reproduce
- Use the data_storage branch, commit d437b38a64ee

[2016-09-09 15:38] mpoquet opened #2 "Experiment tools: bad bash call"
### Description

The experiment tools generate different bash scripts then execute them.

Some of these bash scripts cannot be executed directly from the experiment tools.
However, these bash scripts seems fine, as running them directly seems to work...
### Steps to reproduce
- Use the data_storage branch, commit d437b38a64eee7a6fa8c9be for example
- In the batsim_command of file
  ./tools/experim

[2016-09-09 15:44] mpoquet commented on #1
Probably related to issue #2, but this behaviour might also explicit some kind of buffer overflow which only occurs in this execution context.

[2016-09-13 23:36] pfdutot commented on #1
Tried d437b38 as written here, and cannot reproduce the bug :

[code]

[2016-09-14 11:58] mpoquet commented on #1
It seems that, in the Execo version you used, the Process class does not handle the cwd argument.
Can you try to use https://github.com/mickours/execo instead of the main Execo repository?

[2016-09-15 01:01] pfdutot commented on #1
Now, using the commit 92d7a95856a6e3d1df624d3c969d68181a3a9b1e I cannot reproduce the bug : all tests are running correctly.

Actually, using valgrind I find one case where it fails.

[2016-09-15 19:03] mpoquet opened #4 "Killing jobs when they reach their walltimes"
The old SimGrid version does NOT work with Boost 1.61+... :(
Furthermore, on more recent SimGrid versions, the method used by Batsim to kill the jobs that reached timeout no longer works.

As a consequence, this functionality has been temporarily disabled: Jobs are run until termination, even if they are longer than their walltime.

[2016-09-15 20:02] mpoquet commented on #2
Fixed on commit 6696ee4a.

[2016-09-15 20:02] #2 closed, assigned to mickours, augu5te, mpoquet

[2016-09-15 21:34] mpoquet commented on #1
Did you remove the `-q` option from the batsim commands?

The problem still appears on commit 95b5e644 on my machine and on Travis :(.
However, for some reason (fixing #2 ?), Batsim's output is now shown on Travis's output !

The number of jobs that can be read before the black hole depends on the number of characters printed in the different XBT_LOG calls.
- In commit 95b5e644 (travis log: [travi

[2016-09-16 10:50] mpoquet commented on #1
Fixed by commit bb00d9a224, many thanks!

Travis build after the merge: https://travis-ci.org/oar-team/batsim/builds/160408955.
Travis build after removing the '-q' options from the test scripts: https://travis-ci.org/oar-team/batsim/builds/160410385.

[2016-09-16 10:50] #1 closed, assigned to mickours, augu5te, mpoquet

[2016-09-18 15:49] mpoquet opened #6 "Streamed output"
When large instances are executed, they might be stopped for many reasons : timeout reached, discharged battery, stopped by the user because it is too long... In these cases, nearly all Batsim's outputs are lost, as most are written at the end of the simulation.

It would be way better to write outputs throughout the simulation rather than what is currently done.
The Pajé trace outputting is alrea

[2016-09-19 17:50] mpoquet opened #7 "Socket filenames must be of length < 107"
This is a real problem when running experiments which generate directories.

This limitation comes from the C API. Updating the way the socket is handled might be necessary.

[2016-09-20 09:12] mpoquet opened #8 "Enhancement: Simulation checkpointing"
It would be very nice to have some kind of checkpointing mechanism in Batsim, so long simulations could be stopped and resumed.

[2016-09-21 16:15] mpoquet opened #9 "Cannot install boost 1.58 on Travis"
It is needed for batexec.

Installing it on Travis needs some debian commands related hack and I'm no apt expert =/.

The travis script is [.travis.yml](https://github.com/oar-team/batsim/blob/data_storage/.travis.yml), in Batsim's root directory.
The results can be seen [there](https://travis-ci.org/oar-team/batsim/builds) after each `git push` on Github's oar-team/batsim.

[2016-09-22 11:23] mpoquet commented on #9
Moved the Travis problem to the master branch, since boost 1.58+ is only needed by SMPI, which only works in the master branch.

[2016-09-24 10:19] mpoquet commented on #9
Fixed by 7259355, a741d43 and 13a823e.

[2016-09-24 10:19] #9 closed, assigned to mickours, augu5te, mpoquet

[2016-12-01 14:04] mpoquet commented on #4
Fixed by 77ecc099d5.

[2016-12-01 14:04] #4 closed, assigned to mpoquet

[2016-12-01 15:59] mpoquet opened #10 "[SMPI] Something wrong about job management"
## Abstract
Something is wrong about the management of SMPI jobs in Batsim.
When long jobs are executed, Batsim states they are finished way before they actually are.

## How to reproduce ?
### Versions
Batsim version : b10cb66371bc8dbfd (master branch)
SimGrid version : oar-team/simgrid-batsim, batsim-compatible, 42a5c2c5fa27026391c

### Step 1 (necessary to generate some files)
[code]

### Execu

[2016-12-02 15:15] mpoquet commented on #10
smpi_replay_run seems to be blocking.

We should just synchronise two batsim processes: smpi_replay_process and its calling process (called through execute_profile).

[2016-12-02 15:51] mpoquet opened #11 "Bad termination"
In many cases, after the data_storage -> master merge, Batsim crashed on termination.

### Batexec
It happens if the energy plugin flag is ON.

### SMPI
It happens at the end of the simulation

[2016-12-02 15:52] mpoquet opened #12 "Batexec: bad output files"
The output files of Batexec should be analysed, they are bad.

An example out_jobs.csv file got from executing the batexec test:
[code]

[2016-12-03 22:12] augu5te commented on #10
Trouble comes from  calls of MSG_process_create_with_arguments which which call smpi_replay_process. A solution is to add a semaphore between MSG_process execute_profile and one of  MSG_process_process_create_with_arguments. Added in https://github.com/oar-team/batsim/commit/4e8b3cef41619776225513d9a5d86a7f2f5fa4d6

[2016-12-16 14:36] mpoquet opened #13 "[SMPI] Bad process data mapping"
The SMPI data mapping does not seem to work **at all** in Batsim.

## How does it work currently?
Current SMPI code in Batsim is mostly based on the [smpi_replay_multiple](https://github.com/simgrid/simgrid/tree/master/examples/smpi/replay_multiple) SimGrid example.

In SMPI, data is stored in these global variables:
  - **process_count**. It is initialised to 0. It is then incremented each time a

[2016-12-16 14:38] mpoquet commented on #10
Simulation time inconsistency fixed by 4e8b3ce.

Closing this issue, but SMPI still does NOT work in Batsim (see issue #13).

[2016-12-16 14:38] #10 closed, assigned to augu5te, mpoquet

[2016-12-16 14:45] mpoquet commented on #13
I will try to make a workaround, in which the **index_to_process_data** data structure is ignored,
and simply add the SMPI process index to the *smpi_replay_run* call.

Hacking the argv can be done but it really looks dirty to me as I don't understand them fully, I think I will just duplicate some functions to add some args.

[2016-12-16 19:58] mpoquet commented on #13
I confirm that *SIMIX_process_count* cannot be used as the number of SMPI processes. However, what this function returns (when called at the beginning of the first SMPI job) seems to be big enough to store all SMPI processes.

In example [smpi](https://github.com/oar-team/batsim/blob/master/test/test_smpi.yaml), with workload compute2 (2 jobs, a total of 4 MPI executors), **index_to_process_data**

[2016-12-16 21:03] mpoquet commented on #13
Tried to enable SimGrid's option smpi/privatize-global-variables, as it seems cleaner than the hacky index_to_process_data.

[code]
Unfortunately, when this option is enabled, executing the smpi_batexec with the compute workload segfaults. This happens when SMPI_switch_data_segment, just after retrieving the index from the segment_index (seems OK as index got value 0).
[code]

[2016-12-20 01:28] mpoquet commented on #13
Opened simgrid/simgrid#129, which should be simpler to work on.

[2017-01-11 17:05] mickours opened #14 "[pybatsim] Easy scheduler is overlaping jobs"
I dont know if it is directly related to pybatsim but I have overlapping jobs using Easy and EasyNotopo schedulers of pybatsim. It sometimes give a 200% utilisation for a short time.
Just run the example from the readme: https://github.com/oar-team/batsim#run-batsim-example
but change the ``fillerSched`` by  ``easyBackfillNotopo`` or ``easyBackfill``.

[2017-01-11 18:00] mpoquet commented on #14
Cannot reproduce the issue. Added pybatsim_tests in c9542e1c3f but they seem to pass (https://gitlab.inria.fr/batsim/batsim/pipelines/403).
Batsim is supposed to halt if the same resource is used by several jobs at the same time (unless time-sharing is enabled). Furthermore, I don't see any overlapping when I visualise the execution traces, what workload are you using?
[easyNOTOPO_medium.pdf](http

[2017-01-12 10:40] mickours commented on #14
In fact there, with a closer look on the data, I found the problem: Sometimes the job finish time and the next job begin time is exactly the same because the scheduler has no scheduling delay.

I tried to patch the code to add some scheduling delay but I have some assert errors...
I will see with @glesserd if he can help me on this.

[2017-01-26 14:07] mpoquet commented on #7
Not using unix domain sockets anymore, closing the issue.

[2017-01-26 14:07] #7 closed, assigned to mpoquet

[2017-01-26 14:10] mpoquet commented on #13
Using mpoquet/simgrid@587483ebe788 should make SMPI jobs work in Batsim.
Unfortunately, this fork currently breaks other SimGrid usages.

[2017-01-26 14:11] mpoquet commented on #14
The issue seems to be more related to a data analysis issue than a Batsim one, closing it.

[2017-01-26 14:11] #14 closed, assigned to glesserd, mpoquet

[2017-01-26 14:17] mpoquet opened #15 "Unpredictable test crashes"
Since ZeroMQ commit d8a26cdae, tests seems to be not so deterministic.
Various commits worked fine on my laptop, failed on the CI but worked when I retried to run them on the CI...

The problem might be in Batsim, in pybatsim or in the exec1 and execN experiment scripts.
I suspect some TCP management should be done in execN before running the scheduler (making sure that the port is not being used)

[2017-02-13 12:01] mpoquet commented on #15
Commit c5111bcfb9 restored the exec1 behaviour which consisted in waiting for the socket to be usable before running the Batsim and Sched processes.

execN_ssh4 might still cause problems.

[2017-02-13 12:05] mpoquet commented on #15
Commit c5111bc restored the previous exec1 behaviour, which consisted in waiting the for socket to be usable before running the Batsim and Sched processes.

execN_ssh4 might still cause issues.

[2017-03-14 14:53] mpoquet commented on #13
Make sure to use -Denable_compile_optimizations=ON when you compile the SG fork.
Otherwise, Batsim segfaults when applications are registered...

[2017-03-17 08:49] adfaure opened #16 "Segmentation fault if master_host is needed but not given (In Release mode)"
`batsim -p platforms/cluster512.xml -w workloads/stupid.json`

[2017-03-17 09:10] #16 closed, assigned to nobody

[2017-04-05 16:44] mpoquet opened #17 "All warnings are not set"
Some warnings are not shown when Batsim is compiled outside Nix.

Investigation idea: one variable (origin_of_wait_queries) seems unused in the server_process function in commit  445dd6c6c3696e of the json_protocol branch.

[2017-04-11 17:18] mpoquet opened #18 "Crashes when redis is disabled"
# Description
When Batsim is run without Redis, some problems might occur depending on batsim inputs...

- I once got this problem: the server got out of the MSG_task_receive function with a corrupted stack, leading to a segmentation fault quickly after it...
- Got another problems...

Should be investigated in detail.

# Reproducibiilty
Batsim commit: f2b05bb3d0f0f6014862475b289276531150e05d
Bats

[2017-04-11 21:01] mpoquet commented on #18
It seems that commit 6283f88d7a29 fixed it.
boost::locale probably did some buffer overflow =/

[2017-04-11 21:01] #18 closed, assigned to nobody

[2017-04-13 16:51] mpoquet opened #19 "tools: workload generation: unused option"
The -t option of the following scripts is never read, translation of runtimes towards 0 is forced in all cases.
- swf_to_batsim_workload_compute_only.py
- swf_to_batsim_workload_delay.py

[2017-04-14 01:48] mpoquet opened #20 "pybatsim don't always stop correctly"
Pybatsim don't always stop when the simulation is over.
Some logs can be found on https://gitlab.inria.fr/batsim/batsim/builds/4495.
**json_protocol branch**

[2017-04-14 13:40] mpoquet commented on #20
Seems solved by pybatsim commit a31dad97e771a88 (https://gitlab.inria.fr/batsim/pybatsim), which explicitly closes the zmq socket.

Test logs: https://gitlab.inria.fr/batsim/batsim/builds/4520

[2017-04-14 13:40] #20 closed, assigned to glesserd, mickours

[2017-04-14 13:41] mpoquet commented on #15
Exec1 and ExecN are now based on asyncio rather than execo. It may fix the issue.

[2017-04-15 02:35] mpoquet opened #21 "Pernicious occult bug from hell"
An evil bug is hidden somewhere and may appear from time to time to terrorize poor developers.

**Good point: the bug seems deterministic!**
- The same instance seems to have the same behaviour when executed in the same context

Bad point: it may corrupt many things, including the stack and SimGrid memory, which leads to a lot of debugging fun. Notably:
- may crash when running via valgrind but wo

[2017-04-15 03:05] mpoquet commented on #21
Branch occult_bug_from_hell created to investigate this issue.
Gitlab logs show some information about runs (after commit 1c69ac6).
The dynamic_submit test reproduces the bug.

[2017-04-19 14:00] mpoquet commented on #21
All the tests pass when executed from a manually installed docker environment:
- batsim_ci
- batsim branch occult_branch_from_hell
- batsim & batsched built and installed

However, they do **not** pass when the docker environment is automatically set by gitlab-ci...
They do **not** pass either directly on my machine (without docker environment).

Any idea about the differences between a gitlab-ci

[2017-04-20 07:35] mickours commented on #21
It should not have difference between manual and CI docker run.

I really don't understand this one we have to investigate...

[2017-05-05 01:33] mpoquet opened #22 "JSON protocol: missing CALL_ME_LATER ack"
We chose to acknowledge a CALL_ME_LATER by a NOP.

Unfortunately – as the NOP message is represented by an empty event list – the message is lost if sent while the send buffer is not empty.

I'm about to implement a REQUESTED_CALL event, sent after the delay incurred by a CALL_ME_LATER.

**Some schedulers might need a protocol update!**

[2017-05-05 01:55] mpoquet commented on #22
REQUESTED_CALL message added in 709c160

[2017-05-05 01:55] #22 closed, assigned to mickours, mpoquet

[2017-05-05 02:21] mpoquet commented on #22
Submodules updated in 922edb8

[2017-05-05 08:33] lbarallon opened #23 "Job MSG bug with computation vector values at 0"
When using a MSG profile with batexec.
If the communication matrice is **empty**, the computation vector must have **all** his values **different** from 0, else if :
  - all the value are equal to 0 : the job cause a simgrid exception : Division by zero.
  - one or several values are equal to 0 :  the job is running endlessly without anything happening

[config yaml](https://gist.github.com/lbaral

[2017-05-05 14:35] mpoquet commented on #23
Thanks for the report! I can reproduce the error.
However the infinite loop condition is not that simple :(.

### What I did
I generated all possible 4-node MSG jobs with 0-filled communication matrices and 0|1-filled computation vectors thanks to python magic:
[code]
I then executed all combinations (thanks to [this yaml file](https://gist.github.com/mpoquet/b40910eef1e60c674884294049296e84#file-

[2017-05-05 16:03] mpoquet commented on #23
Opened https://github.com/simgrid/simgrid/issues/165

[2017-05-07 15:01] mpoquet opened #25 "Invalid _pstate_changes.csv files"
While running some experiments on Grid'5000, I got two invalid _pstate_changes.csv files (out of 1282).

Data: [buggy_pstate_changes.zip](https://github.com/oar-team/batsim/files/981663/buggy_pstate_changes.zip)

Some IO problem probably occurred during the execution of these instances. But it might be possible to improve the exportation system such that the risk to see this kind of problem is red

[2017-05-07 15:13] mpoquet commented on #25
Detected those files with the following python command:

[code]

[2017-05-07 15:30] mpoquet commented on #25
The following script displays (maybe not every) invalid lines.
[code]
Result:
[code]

[2017-05-07 16:39] mpoquet opened #26 "Add a proper nb_switches output"
This information is quite hard to get *a posteriori*, but it can trivially be computed during the simulation.

[2017-05-07 17:16] mpoquet commented on #25
Some data to reproduce the error (not clean yet).
[reproduce.zip](https://github.com/oar-team/batsim/files/981778/reproduce.zip)

[2017-05-09 08:01] adfaure commented on #21
The test is working on my computer...

[code]

[2017-05-09 22:05] mpoquet opened #27 "Batsim/Batsched output non-determinism on big workloads"
It looks like either Batsim or Batsched is non-deterministic.

Happens at least on KTH_SP2 with the opportunistic shutdown algorithm.
Investigating.

[2017-05-09 22:17] mpoquet commented on #27
**Seems to come from Batsched.**

Some results executed with the exact same parameters:
[code]

[code]

Comparing two batsim logs:
[code]

[code]

Batsched decisions look non-deterministic! :(

[2017-05-10 05:50] mpoquet opened #28 "Exec1: batsim_command prewrite may prevent relaunchability"
When running execN with the ``-p`` option, the ``variables.bash`` is overwritten.

However, since ```batsim_command.bash``` contains the actual **previous** values of variables instead of pointers, the ``batsim_command.bash`` and ``sched_command.bash`` may contain different variable values (i.e. socket port).

Fix proposal: instead of prewriting ``batsim_command.bash``, prewrite another temporary

[2017-05-10 05:57] mpoquet opened #29 "Consumed energy output: instantaneous power might be cleaner"
In exported file ``_consumed_energy.csv``, the written instantaneous power on a line corresponds to the energy difference with the previous line divided by the time difference with the previous line.

This leads to power values of ``NA`` for the first power value, or when two lines are at the exact same time.

Enhancement fix: the current consumed power could be retrieved from SimGrid to match the

[2017-05-10 06:01] mpoquet commented on #23
https://github.com/simgrid/simgrid/issues/165 fixed thanks to @frs69wq.

I will close the bug once we will be able to use the up-to-date SimGrid version (when SMPI replay multiple on steroids will work).

[2017-05-10 07:41] mpoquet commented on #26
Added in 0c5aea1. The _schedule.csv output file now contains:
- **nb_machine_switches** : The number of machine switches
- **nb_grouped_switches** : The number of requested grouped switches.

Invariant: 0 <= nb_grouped_switches <= nb_machine_switches

[2017-05-10 07:41] #26 closed, assigned to mpoquet

[2017-05-10 07:52] mpoquet commented on #28
Fixed in 3c14d01.
The prewriting was already done in a temporary file, but the in-memory batsim_command was overwritten by mistake.

[2017-05-10 07:52] #28 closed, assigned to mpoquet

[2017-05-10 09:09] mpoquet commented on #29
Commit 11df8f4 adds wattmin information from SimGrid as a temporary fix.

Using the current power computed by SimGrid should be better, but it does not seem possible with current forked SimGrid version.
@Shurakai's new energy plugin seems great to get it easily. Is it usable from MSG applications ?

[2017-05-10 09:36] mpoquet commented on #27
Opened Batsched issue https://gitlab.inria.fr/batsim/batsched/issues/1.

[2017-05-10 11:27] mpoquet commented on #27
Problem came from the scheduler side, closing the issue.

[2017-05-10 11:27] #27 closed, assigned to mpoquet

[2017-05-15 22:14] mquinson commented on #23
Hello,

maybe you can cherry-pick https://github.com/simgrid/simgrid/commit/857e3b2171472a3d6db57944a99f8986aff18b0a ?

[2017-05-16 00:13] mpoquet commented on #23
Hello and thanks!
Cherry-picked simgrid/simgrid@857e3b2 in ba2856c1e.

Only the 0-filled case does not pass now, with a quite clean error. I think the error will not happen at all in up-to-date SimGrid.

We plan to go back to the main SG branch soon. I'll try to make a clean SG example of our dynamicity needs this week and I know @Shurakai plans to improve SMPI dynamicity soon.

[code]

[2017-05-23 09:14] mpoquet opened #30 "Display used configuration"

[2017-05-23 12:22] mpoquet opened #31 "Using the PFS might lead to segfaults"
Investigating.

[2017-05-23 12:51] mpoquet commented on #31
I can reproduce the issue.
Data to reproduce: https://gist.github.com/mpoquet/b9a904acdad3e5b43351d9e9acbb9eff

## Command
[code]

## Output
[code]

[2017-05-23 13:55] mpoquet commented on #31
Wrong hosts were used to compute the job, resulting in inconsistent number of hosts and hosts themselves, leading to SG crash. Fixed in 0ab9b70.

Adding a PFS test then closing the issue.

[2017-05-23 14:13] mpoquet commented on #31
Added.
Using commit 8a59395 should work.

[2017-05-23 14:13] #31 closed, assigned to mpoquet

[2017-05-23 20:37] mpoquet commented on #21
Simplified the test and improved the submitter scheduler. Now (bdea7ad):
- The static workload consists in 1 delay job
- The scheduler receives the number of dynamic jobs to submit as a parameter

The instance work when the number of dynamic jobs to submit is 0.
The instance **crashes** when the number of dynamic jobs is 1 or more.

Batsim logs of these two instances : https://gist.github.com/mpoq

[2017-05-23 21:00] mpoquet commented on #21
Some memory corruption seems to occur when Profile::from_json is called on server.cpp:285.
Quick link to file: https://github.com/oar-team/batsim/blob/bdea7ad9ffef09c45750ee9345f51aa439fac580/src/server.cpp
## GDB setup
[code]

## Incriminated lines of codes
[code]

[2017-05-24 18:32] mpoquet commented on #21
Investigated with @adfaure this afternoon.

We played with batsim parameters (platform, whether to enable energy...) then got lost in satanic lands.

**The problem does not not occur when the platform has no energy information and when energy is disabled.**

## Reproduce
As 7d2fda1: ``ctest -R dynamic``

[code]

### Analyzing data

[code]

Works:
[code]

Crashes:
[code]

[2017-05-24 21:34] mpoquet commented on #21
As commit 79aab79, dynamic job submissions seems to work, as long the energy platform is not used!

## Working instances
[code]

## Crashing instances
[code]

[2017-05-24 21:44] mpoquet commented on #21
Added a guard in 6a46cb3: enabling dynamic submissions with an energy platform is now forbidden.

[2017-05-26 08:55] adfaure opened #32 "Little `*** Error in `./batsim': malloc(): memory corruption (fast): 0x000000000209d610 ***`"
Hello,
I found a bug that I might have found the source, but since I am not very familiar with the design of batsim I not sure If I can fix it.

To reproduce the bug it is very simple, I have a scheduler which do the following steps:

[code]

This basic algorithm will fail with a ` Error in ./batsim': malloc(): memory corruption (fast)`  **if the job use a profile used by another job**.

Here is t

[2017-05-26 12:38] adfaure commented on #32
Finally I think I got wrong:
this workload triggers the bug:

[code]

[2017-05-26 13:01] mpoquet commented on #32
It looks like there is indeed a problem when the same profiles are used. Investigating in issue32 branch.

[2017-05-26 13:07] adfaure commented on #32
I am not sure because in the workload I submitted above there is two jobs which use two different profile.

I wrote my scheduler in rust, but if you want to test it it might not be difficult.

install rust and cargo and this would do the trick:

[code]

[code]

[2017-05-26 13:16] mpoquet commented on #32
Indeed, the problem I found was unrelated with profiles.
Batsim stopped if jobs were killed as soon as they were executed.
This problem should be fixed in 9c639df.

*Voy a la playa*, I'll try to reproduce your bug later ;)

[2017-05-26 13:18] adfaure commented on #32
Thanks!

[2017-05-26 15:57] mpoquet commented on #32
I can only clone the ``schedulers`` project :(. Can you change the configuration of the two other projects?

Gitlab is quite annoying about this, only setting the project as public is not enough.
To check whether the public configuration is okay, I usually visit the project webpage as an anonymous user and check whether the clone url is displayed.

[2017-05-26 16:15] mpoquet commented on #32
I have an issue with my scheduler and the given workload.

[code]

[2017-05-26 18:08] mpoquet commented on #32
It looks like SG cleans the data associated to killed tasks on its own.
Does 2fe7739 fix the problem?

[2017-05-26 18:53] mpoquet opened #33 "Memory leak on kill: msg_task_t being executed"
When a MSG-like job is killed, its associated msg_task is not freed.
Unfortunately, freeing the msg_task leads to a SG deadlock :(.

[2017-05-26 19:23] #32 closed, assigned to nobody

[2017-05-26 19:42] adfaure commented on #32
Fixed ! Thank you.

[2017-05-26 20:04] mpoquet commented on #32
Thanks a lot for reporting the issue!

[2017-05-26 21:50] mpoquet commented on #15
Issue seems solved, closing the thread.

[2017-05-26 21:50] #15 closed, assigned to nobody

[2017-05-26 21:50] mpoquet commented on #11
Didn't see this bug in a while, closing the thread.

[2017-05-26 21:50] #11 closed, assigned to mpoquet

[2017-05-31 08:51] adfaure opened #34 "Reject all jobs causes batsim to deadlock"
Hello,
I don't know if it matters but if you reject all job batsim will deadlock with:
[code]
Hence the scheduler won't finish and will wait forever.

You can test is using the my scheduler on any workload.
[code]

[2017-05-31 09:38] mpoquet commented on #34
Can reproduce the issue with 7eab359 by running ``cargo run --bin rej``.
Investigating.

[2017-05-31 09:44] #34 closed, assigned to nobody

[2017-05-31 09:45] mpoquet commented on #34
Batsim forgot to check whether the simulation was finished on job rejection.
Fixed in 611e7bf, thanks for the report :).

[2017-05-31 09:45] adfaure commented on #34
That was fast !
Thanks

[2017-05-31 16:20] mpoquet opened #35 "Jobs submitted at the same time should be in the same message"

[2017-06-07 15:49] adfaure opened #36 "Assertion data->nb_running_jobs >= 0 failed"
To reproduce the bug

You can run my scheduler:
[code]

and batsim
[code]

The cluster:
[code]

And you can use this workload ~~http://github.com/adfaure/ea2868ce9c152d590573bb778d767b7e~~
https://gist.github.com/adfaure/ea2868ce9c152d590573bb778d767b7e

[code]

[2017-06-07 16:49] mpoquet commented on #36
Cannot reproduce the issue.

Your scheduler does not seem to handle homogeneous MSG jobs, the provided workload is probably wrong.

Yaml to reproduce:
[code]
Output:
[code]

[2017-06-07 17:01] adfaure commented on #36
Oh yes indeed, I forgot to push batsim's last revesion...

Le 7 juin 2017 18:49, "mpoquet" <notifications@github.com> a écrit :

[2017-06-08 06:04] adfaure commented on #36
It should be reproducible now :)

[2017-06-08 09:55] mpoquet commented on #36
The scheduler seems to fall into an infinite loop after displaying the following message :(.

```[SUBMIT_JOB { timestamp: 33407.0024, data: SubmitJob { job_id: "rej!37296", job: Job { id: "rej!37296", res: 1, profile: "11398", subtime: 32467, walltime: 86400 }, profile: Some(MsgParHg { com: 0, cpu: 1139800000000 }) } }]```

[2017-06-09 08:33] adfaure commented on #36
* last commit of batsim-rs should be: [8371c478](https://gitlab.inria.fr/adfaure/bat-rust/commit/ee75e9d495751ce89e9091c39b828a9364e2346e)
* last commit of scheduler: [429a54f6](https://gitlab.inria.fr/adfaure/schedulers/commit/4cad734c8726a4bc1df8521bb3c8e7eea39e2f29)

I still have this behavior, did you manage to reproduce ?

[2017-06-09 11:28] mpoquet commented on #36
The scheduler is still going into an infinite loop on my laptop :(.
### Batsim output
[code]

[2017-06-09 11:32] adfaure commented on #36
This is bizarre ...

Anyway, I think I found the issue. It happens if a job is killed multiples times before batsim acknowledge the kill. Because batsim seems to alway decrement the number of job running.

I confirm I add the check on my scheduler, it seems to work now.

[2017-06-09 12:10] mpoquet commented on #36
Thanks for the information, I'll try to reproduce this behaviour.

[2017-06-09 14:45] mpoquet opened #37 "Batsim deadlocks on kill"
It seems that Batsim deadlocks under some conditions when jobs are killed.
### Versions
- batsim b5de8b2
- batsched 52216b1

### Yaml to reproduce:
(all files are not available on the repo)
[code]

[2017-06-09 14:47] mpoquet commented on #37
Does not seem to depend on the platform nor the workload.

[2017-06-09 14:49] mpoquet commented on #37
Ahem... Dynamic submissions should not be allowed with this scheduler. This is the reason why the deadlock occurs.

[2017-06-09 14:49] #37 closed, assigned to nobody

[2017-06-09 15:51] mpoquet commented on #36
Can reproduce the issue with:
[code]

Instances fail when jobs are killed more than once:
![instances](https://user-images.githubusercontent.com/3502831/26983489-43721612-4d3c-11e7-8fc3-65e2a358aaab.png)

[2017-06-09 16:15] #12 closed, assigned to augu5te, mpoquet

[2017-06-09 16:16] mpoquet commented on #36
Should be fixed in 1817fb5. Can you confirm?

[2017-06-12 06:14] adfaure commented on #36
Hi, fixed,
Thanks !

[2017-06-12 10:10] #36 closed, assigned to nobody

[2017-06-14 18:29] mpoquet opened #38 "Bad consumed power when doing computations?"
It seems that homogeneous MSG jobs do not consume energy:
- while the machine is idle, 95 W are consumed
- while a job is being computed, 95 W are consumed :(

But the computation power state should use 190.738 W when computing the job.
[code]

![energy_plot](https://user-images.githubusercontent.com/3502831/27148102-56cc37f4-513f-11e7-9daf-cf23a473b9d2.png)

## How to reproduce ?
### Run the simu

[2017-06-14 21:07] mpoquet commented on #38
Also confirmed with up-to-date SimGrid (commit 863aeead8 of 2017-06-13 22:15).
![energy_plot](https://user-images.githubusercontent.com/3502831/27154683-3c042064-5156-11e7-963b-a53bad6ab35b.png)

[2017-06-15 17:01] mpoquet commented on #38
The problem came from SimGrid:
- Issue : https://github.com/simgrid/simgrid/issues/189
- Fixed by simgrid/simgrid@e96681fb8

Up-to-date SimGrid should be used to do energy experiments with Batsim.

![energy_plot](https://user-images.githubusercontent.com/3502831/27192858-2736aa06-51fd-11e7-8de1-699f8a028cf4.png)

[2017-06-16 12:31] mpoquet opened #39 "Redis + Kill may lead to segmentation fault"
The reason is unknown but it happened in https://gitlab.inria.fr/batsim/batsim/builds/9158.
The crash is deterministic.

[2017-06-16 12:46] mpoquet commented on #39
Might be related to the callback function after process exit.
[code]

[2017-06-16 16:34] mpoquet commented on #39
@adfaure: if you are looking for some funny debugging sessions, this bug can help you :D

[2017-06-20 08:09] adfaure opened #40 "Sending `EXECUTE_JOB` with a wrong number of nodes"
If I send `EXECUTE_JOB` with fewer resources than the job needs, batsim will segfault.
edit: if the number of resources is greater, batsim doesn't care.

[2017-06-20 10:57] mpoquet commented on #40
It's not a bug, it's a feature :D.
A buggy / not implemented yet feature at the moment :(.

Previously Batsim checked that the number of given resources exactly matched the job size.
However, a SMPI job can now be run with fewer resources, which allows to place several ranks on the same machine. This code has not be tested with other profiles, I will add a test about it and debug ;).

[2017-06-20 15:49] mpoquet commented on #40
I can reproduce the issue.

[2017-06-20 16:51] #40 closed, assigned to nobody

[2017-06-20 16:58] mpoquet commented on #40
@adfaure : Can you confirm that 0659e43 solved the problem?
A clear error message should now be displayed (hidden before a SimGrid backtrace).

[2017-06-20 18:17] mpoquet commented on #40
Really using fewer resources than a job requested should work after 6e1e44f.
To do so, a mapping must be given with the EXECUTE_JOB message.

[2017-10-27 09:36] adfaure opened #42 "'-' should be allowed in sweep values"
[code]

[2017-10-27 10:48] #42 closed, assigned to nobody

[2017-10-27 11:18] mpoquet commented on #42
Yes, this constraint should be removed.
It has been introduced before **instance_id**. The **name** was used to create yaml files for each instance.

[2017-10-27 11:21] mpoquet commented on #42
But the way to go is probably not to maintain these two scripts but to create better and more modular ones.
- https://gitlab.inria.fr/batsim/batsim/issues/7
- https://gitlab.inria.fr/batsim/batsim/issues/8
- https://gitlab.inria.fr/batsim/batsim/issues/13

[2018-01-30 15:24] mpoquet commented on #8
This could be achieved by using DMTCP on a simulation instance manager (e.g., [robin](https://gitlab.inria.fr/batsim/batexpe)).

It may work directly or DMTCP plugins might be needed. Such plugins allow to define how to checkpoint or restart specific parts (ZMQ?).

[2018-03-05 16:09] mickours commented on #30
Done in simulation begins now right @mpoquet ?

[2018-03-05 21:25] mpoquet commented on #30
Indeed.

[2018-03-05 21:25] #30 closed, assigned to mpoquet

[2018-03-06 07:48] mickours commented on #35
Not sure that this would be useful: It would break the protocol and most of the jobs needs to be managed separately by the scheduler. Also, the gain in the protocols message size is quite low.

@mpoquet do you have use case for this?

[2018-03-06 07:50] mickours commented on #29
Does S4U solve this issue?

[2018-03-06 07:56] mickours commented on #25
It looks like 2 IO streams are mixed. Maybe stream the outputs correctly to the file at runtime instead of at the end of the simulation would fix the issue?

[2018-03-06 08:04] mickours commented on #17
This seems outdated @mpoquet, since the branch is merge and I'm not seeing any warnings in Nix builds right now. I'm closing it.

[2018-03-06 08:04] #17 closed, assigned to nobody

[2018-03-06 10:19] mpoquet commented on #29
Retrieving such information from SimGrid is not as easy as it seems.

Batsim is most of the time called at the end of a job, so the involved hosts are *idle* in the current power consumption. We could add a callback at the end of each computation (via s4u) but I feel that this is not really needed in our case.

Furthermore, the semantic of such power values in the ``_consumed_energy.csv`` is not s

[2018-03-06 10:27] mpoquet commented on #35
Mmh sorry I meant in the same **network message**, not in the same **protocol event**.

As a use case I can think of batches of jobs that are submitted together, notably for those submitted at time 0 for *offline* scheduling problems. Currently, I think that offline algorithms must wait two **messages** containing job submissions, while one message should be enough.

I think that this feature is v

[2018-03-06 11:09] mpoquet commented on #35
Note: the ``same_submit_time`` test only checks that the messages that should be submitted at the same time are sent in a deterministic order (ordered by job_id).

[2018-03-06 11:17] mpoquet commented on #25
The issue is old, the exportation of data has been improved since the issue has been opened.

We should check if the problem still exists...

[2018-07-23 14:13] adfaure opened #44 "Batsim: Infrastucture Simulator for Batch Scheduler"
My proposal is to change the "official" description of Batsim.

**From:**

**To (something like):**

It is, of course, subject to discussion :)

[2018-07-25 12:50] mpoquet commented on #44
I also believe that this description – and most of the readme btw – should be changed.

I'm not a big fan of the *batch* word, but as Batsim's name comes from it, I think it's okay…

[2018-07-30 13:33] mickours commented on #44
Why not: Infrastructure Scheduling Simulator

It more generic and better fits batsim's features as we can do IO scheduling now.

[2018-07-30 14:47] mpoquet commented on #44
/me votes for @mickours's text

[2018-07-30 15:13] mickours commented on #44
Ok as @adfaure suggest here is something more specific:
infrastructure simulator for job and IO scheduling

I think we agreed on that, now we need to rewrite the readme and change the description accordingly.

[2018-08-08 13:17] lccasagrande opened #45 "Power properties incorrectly defined on platforms"
Hey guys, I have faced some little problems with Batsim.

First, I could not install it by following the instructions in the doc/run_batsim.md. I had some weird problems with packages that uses the **ocaml_batteries** and had to remove them in order to install it. It worked right out of the box after that , are these packages really needed? I'm not so sure.

After that, I tried to enable the SimGr

[2018-08-11 17:31] mpoquet commented on #45
Hello Lucas,

Thanks for contributing to Batsim! :)

### Nix issue
Indeed, there was a problem in the definition of some Nix packages in [datamovepkgs](https://gitlab.inria.fr/vreis/datamove-nix). `ocaml_batteries` was used instead of `batteries`, causing the failure of any installation via `nix-env -i` (unless `-A` is used, as in this case only the required descriptions are evaluated). This shoul

[2018-08-17 17:50] lccasagrande commented on #45
Yes, I'm actually developing a scheduling algorithm to minimize energy consumption and using Batsim to evaluate it.

Thanks for point me that out.

Best Regards.

[2018-09-06 12:49] mpoquet commented on #23
Seems to work now (1ac8880). Closing this issue.

### Command
`batsim -p ./platforms/small_platform.xml -w ./zero.json --batexec`

### Workload
[code]

### Output
[code]

[2018-09-06 12:49] #23 closed, assigned to mpoquet

[2018-09-06 12:52] mpoquet commented on #25
We should really check this with current Batsim.

[2018-10-19 09:02] Mommessc commented on #35
Up!

[2018-10-21 10:45] mpoquet commented on #35
Hello @Mommessc! I have no update about this, it may already work or not.  It should be easy to implement : Just send a vector of jobs instead of one job in the internal message from the submitter to the server.

[2018-10-22 11:57] mickours commented on #13
Seems to be working now (87939463fc) with the fix I propose to simgrid (https://framagit.org/simgrid/simgrid/commit/35a389f7c71363e88bc1d4537390305fc24a959b).

[2018-10-22 11:58] mickours commented on #13
@mpoquet Are we closing this?

[2018-10-22 12:00] mickours commented on #21
now that we have migrated to S4u, maybe we can try to enable this again?

[2018-10-22 12:01] mickours commented on #33
Now that MSG is gone, can we close this one @mpoquet ?

[2018-10-22 12:08] mickours commented on #44
Retrospectively, I'm still not sure on this but in the end, I changed the github description eventually :)

Still in TODO for the documentation.

[2018-10-22 12:43] mickours commented on #39
Is this still happening?

[2018-10-22 14:03] mpoquet commented on #33
As I write these lines (548cd4b) MSG is not gone yet :(.

Parallel tasks are still created by `MSG_parallel_task_create` and executed with `MSG_parallel_task_execute`. Parallel tasks cannot be killed in s4u yet, but we (Martin and I) recently worked on parallel tasks in s4u for this purpose.

[2018-10-22 14:05] mpoquet commented on #21
Yep, we can try to remove the guard and see if the problem still happens (but it may be a bit hard to reproduce).

[2018-10-22 14:11] mpoquet commented on #13
Mmh this issue is old, the description at the beginning is wrong now.
- SMPI internals have changed a lot since then
- I reimplemented the modifications from my fork and merged them with SimGrid — it does not break the other SimGrid usages.

The SimGrid CI robots detected some errors in your patch, maybe we should wait until validation from the SG community?

[2018-10-22 14:24] mpoquet commented on #13
I just launched valgrind on a SMPI example (simple-smpimixed-small-fcfs) with Batsim commit 548cd4b (SimGrid f9b70a2) and the memory errors seems to have disappeared. Some leaks are there but this is not the same issue.

Should we close this issue?

[2018-10-22 14:30] mpoquet commented on #39
Currently (548cd4b):
- Kills are broken in some scenarios regardless of Redis (https://framagit.org/batsim/batsim/-/jobs/246085)
- Memory deallocation on kill is not done. I'm waiting for a small s4u update to enable killing parallel tasks to completely get rid of MSG. =/

[2018-10-22 14:31] mpoquet commented on #45
Should we close this issue @lccasagrande?

[2018-10-22 14:51] mickours commented on #13
Yes!

[2018-10-22 14:51] #13 closed, assigned to nobody

[2018-10-22 16:32] lccasagrande commented on #45
Yes for sure, thanks for the help.

[2018-10-22 16:33] lccasagrande commented on #45
Yes for sure, thanks for the help.

[2018-10-22 16:33] #45 closed, assigned to nobody

[2018-10-24 09:23] Mommessc commented on #6
UP!
After discussion with @mickours we think that a flush of the buffers into the output files at regular time would do the trick.

[2018-10-27 21:04] mpoquet commented on #35
Merged in 22d2f9e. Thanks @Mommessc!

[2018-10-27 21:04] #35 closed, assigned to mpoquet

[2019-01-30 07:46] Mommessc commented on #44
How about adding "platform" or "resources" somewhere here?
Something like "Infrastructure simulator for jobs, I/Os and other resources management".

[2019-04-26 17:06] lccasagrande opened #51 "[bug] Bad consumed power when job is killed"
### Description
I've noticed that the consumed power by a killed job is incorrect in some situations.

It appears that this only happens when there is more than one host and the walltime is lower than the runtime. When walltime >= runtime it's ok but when wallltime < runtime the consumed power is wrong.

### Setting:
- Batsim version: v3.0.0-54-g8258d85
- SimGrid version: 3.21.90
- Batsched versio

[2019-04-29 17:50] mpoquet commented on #51
Hello and thanks for reporting this issue :). I am very busy this week and I will not be able to look at it, but I'll do it next week!

[2019-04-30 13:12] Mommessc commented on #51
Hi,

I changed the values of `watt_per_state` to see what happens, using `100.0:5000.0` for pstate 1 of machine 0; and `1.0:50.0` for pstate 1 of machine 1.
With a walltime of 4, the total energy consumed is 4*(5000+50) as expected.
With a walltime of 3, the computation becomes 3*(5000+1). It seems that only the first machine is computing here (and adding more hosts in the platform and more resour

[2019-07-29 08:33] mpoquet commented on #38
Issue is tracked on https://github.com/simgrid/simgrid/issues/189.

[2019-07-29 09:03] mpoquet commented on #51
Oops, the *week* was a bit long, sorry about this =/.

I can reproduce the issue. I highly suspect that https://github.com/simgrid/simgrid/issues/189 is related with the current issue. If I remember correctly, the energy consumption of parallel tasks is wrong because the load of single-core machines is not computed correctly (or not used correctly).
I think we should fix https://github.com/simgrid

[2019-07-30 18:07] mpoquet commented on #51
We started to work on fixing https://github.com/simgrid/simgrid/issues/189.
From first @Mommessc's tries, the current issue seems unrelated to https://github.com/simgrid/simgrid/issues/189.

[2020-01-31 09:16] mquinson opened #53 "Do you really needed MSG nowadays?"
Hello,

MSG is now disabled by default in the git (released this week-end). You can still pass -Denable_msg=ON if you really need it, but I suspect you only use MSG_init nowadays and could easily finish your switch to S4U. Am I right?

For the record, here is a failed build job: https://framagit.org/simgrid/external-projects-ci/-/jobs/660769

Thanks, Mt

[2020-01-31 10:09] mquinson commented on #53
According to https://github.com/oar-team/batsim/commit/98a518f9d36c1da5b9dd4d78bffeac82f34fac53 MSG is long gone in batsim, so I guess that our automatic builder is taking an old version of batsim. I don't see what's wrong with https://framagit.org/simgrid/external-projects-ci/blob/master/.gitlab-ci.yml however. Any nix guru around, maybe? ;)

[2020-01-31 10:24] mickours commented on #53
Hi!

This comes from the fact that the tested version is pinned:
https://framagit.org/simgrid/external-projects-ci/blob/master/batsim/release.nix#L5

This commit is a bit dated: (2019-05-27) but it looks like it more or less point to the last release: 3.1.0.

@Millian do you have a new release planned?

On Fri, 2020-01-31 at 02:09 -0800, Martin Quinson wrote:

[2020-01-31 10:40] mpoquet commented on #53
Hello and thanks for the notification,

I remember merging `sayonara-msg` kind of branches some time ago, I think that Batsim no longer requires MSG.

I'll update simgrid-external-ci this afternoon.

[2020-03-13 22:53] mquinson commented on #53
hello,

is there any update on this one? simgrid-external-ci still seems broken (maybe because of something else).

[2020-03-14 11:23] mpoquet commented on #53
Hello. No, batsim does not need MSG.

I updated the Nix recipe of `simgrid/external-projects-ci` and unpinned batsim's commit, batsim should be built from its latest master branch commit now.

Recent issues on `simgrid/external-projects-ci` seems to come from framagit's infrastructure and not the recipe though — we faced similar issues on framagit recently.

[2020-03-14 11:23] #53 closed, assigned to mpoquet

[2020-05-09 08:59] augu5te commented on #51
Now that https://github.com/simgrid/simgrid/issues/189 is closed, is this issue accordingly fixed ?

[2020-06-09 20:17] lccasagrande commented on #51
I tested it today and I'm still getting wrong energy/power values.

### Setting

- Batsim version: v3.1.0-205-g3a379f0
- Simgrid version: 3.25.0

### Test Result
Here are the results I got from the consumed energy CSV exported by Batsim.

| time | energy | event_type | wattmin | epower
| ------------- | ------------- |------------- |------------- |------------- |
| 7.501e-05 | 0.022503 | s | 406 |

[2020-06-10 06:37] Mommessc commented on #51
I think this is not related to energy/power consumption but a more general problem of how SimGrid handles an execution that will timeout or not.
I will create an issue on the Simgrid Github with a MWE.

[2020-06-12 12:42] Thlr opened #54 "[bug] "speed" and "core" host attributes in Simgrid platform are not forwarded by Batsim"
**Description**
On a Simgrid platform where attributes "speed" and "core" are defined, Batsim does not forward them in the SIMULATION_BEGINS message.

**How to reproduce**
- Batsim commit: Batsim 3.1.0
- SimGrid version: 3.24.0
- Scheduler+version: -

<details><summary>Platform used</summary>
<p>

[code]

</p>
</details>

***Expected behavior***
I should see `core` and `speed` fields in the `prope

[2020-06-15 12:14] Mommessc commented on #54
Speed and core are actual attributes of a host and not additional properties.
I think these should be added next to the id, name and state in the JSON dict of each machine in the SIMULATION_BEGINS event.

[2020-06-15 12:20] Mommessc commented on #38
Up!
Is this fixed now?

[2020-06-15 12:25] Mommessc commented on #33
MSG is gone forever now.
But if I remember @mpoquet you spotted some memory leaks anyway?

[2020-06-15 12:28] Mommessc commented on #25
We definitely should check this.

[2021-02-02 09:33] igornardin opened #55 "tools: Change profile type"
I think that the profile type on swf_to_batsim_workload_compute_only.py is wrong. The script has 'msg_par_hg' in line 98, but I think that the correct value is 'parallel_homogeneous' (I have read in some place this changed). I changed locally and works perfectly.

File: [swf_to_batsim_workload_compute_only.py](https://github.com/oar-team/batsim/blob/master/tools/swf_to_batsim_workload_compute_only

[2021-02-02 13:02] mickours commented on #55
Thanks for pointing this. I've created a merge request that fix the issue.

[2021-02-10 16:12] #55 closed, assigned to nobody

[2021-03-09 08:40] Mommessc commented on #51
@lccasagrande FYI after almost two years a fix was just made on SimGrid master to solve this problem.

[2021-05-27 09:06] TheElectronWill opened #57 "[bug] Segfault after job completion when the gateway is wrong"
1. Take a simple platform with a cluster of nodes + a master node.
2. Create a `zoneRoute` between the two. By mistake, swap `gw_src` and `gw_dst`.
3. Launch batsim with some jobs

=> Result: batsim crashes with segmentation fault once a job is finished.
I would expect at least a warning when the platform is loaded or when the routing is used. This would make such mistakes easier to find.

platfor

[2021-05-27 09:50] mpoquet commented on #57
Hello and thank you for reporting! It looks like a SimGrid issue for us, we will investigate and keep you posted.

[2021-05-27 16:11] mpoquet commented on #57
Reported to SimGrid: https://framagit.org/simgrid/simgrid/-/issues/71

[2021-05-31 17:03] mpoquet commented on #57
This is now solved in SimGrid when the platform is loaded. Problem should disappear in Batsim by upgrading SimGrid to commit [fe620eda26](https://framagit.org/simgrid/simgrid/-/commit/fe620eda269ea46829c7c46afefa3650c6a509cd) or more recent, thus closing this issue. Thanks again for your report :).

[2021-05-31 17:03] #57 closed, assigned to nobody

[2021-05-31 17:46] TheElectronWill commented on #57
You're welcome ! Thanks for the quick reply

[2021-07-16 13:06] mpoquet opened #59 "Not a real issue"
This is just to test mattermost GA notifications.

EDIT1

[2021-07-16 15:05] mpoquet opened #61 "Fake issue"
To test mattermost notifications.
EDIT

[2021-07-16 15:07] #61 closed

[2021-07-30 08:14] maelmadon opened #62 "[bug] Multicore: undesired behavior"
I try to use the multicore functionality of SimGrid platforms with Batsim but didn't manage so far. Running a job with 2 parallel tasks on a 2-core machine takes twice the time than running a job with only 1 task. We would expect the exact same execution time.

## Description of the bug
I run this simple workload: one job with 1 parallel task and one job with 2 parallel tasks.
[code]
I have a plat

[2021-07-30 09:07] mpoquet commented on #62
Hi! Ptask + multicore has been fixed quite recently in SimGrid, I think latest Batsim release does not use a SimGrid with the fix.
Can you try with a more recent Batsim instead? You can compile it locally with the following command:
[code]

(You can also use the `batsim-master` package defined in NUR-Kapack if you already have a Nix setup)

[2021-07-30 11:36] maelmadon commented on #62
Hi Millian and thank you!
Indeed the SimGrid version used by the latest batsim release was 3.25.0 and the bug is fixed with the latest SimGrid release.
[code]
Btw, maybe good to add that in the doc : "Warning: the multicore fonctionality only works with a version of SimGrid >= 3.28".

[2021-07-30 11:36] #62 closed, assigned to nobody

[2021-07-30 13:47] maelmadon opened #63 "Platforms: keyword watt_per_state changed for wattage_per_state"
I noticed that the host_energy plugin of SimGrid has changed between v3.25 and v3.28.

It seems that the keywords `"watt_per_state" `and `"watt_off"` in the platforms have been renamed `"wattage_per_state"` and `"wattage_off"`.

There are still references of these old names in Batsim, should we rename them all?

[2021-07-30 17:43] mpoquet commented on #63
Oops, looks like I forgot to update some files :D.

I saw this when updating to SimGrid-3.28 (99eb65c) and updated the files used by the automated tests but not the other ones.
This should be fixed as of f1abf7c, thanks for the report!

[2021-07-30 17:43] #63 closed, assigned to nobody

[2021-08-04 08:09] maelmadon commented on #54
I agree. These two attributes are still not forwarded in the latest version of batsim
- Batsim commit: f1abf7cc353638d51c790a3ed3fd5f9efc284bb9
- SimGrid version: 3.28.0

Is it something that is planned to be included in the next version of the Protocol @mpoquet ?

[2021-08-04 12:25] mpoquet commented on #54
Yes, [hosts in the future batprotocol](https://framagit.org/batsim/batprotocol/-/blob/c5bef6b0b61d9db46c5729d26fe2ed63a832abbd/batprotocol.fbs#L637) will have these attributes :).

[2021-08-05 09:39] maelmadon commented on #54
In the same vein, it would be good to have all the Batsim options forwarded to the scheduler in the SIMULATION_BEGIN, in order to test from the scheduler which options have been enabled and eventually send a warning to the user if one option is mandatory for this scheduler.

I'm thinking for example about the options `--energy` and `--enable-compute-sharing` which are not forwarded if I'm not mist

[2021-08-05 12:47] maelmadon opened #65 "[bug] wrong job consumed energy when --enable-compute-sharing in activated"
## Bug description
When Batsim is run with the options `--enable-compute-sharing` and `--energy`, and if we have a scheduler that executes several jobs at the same time on the same host, the values reported for energy consumption in the output `_jobs.csv` are wrong.

In fact, SimGrid only allows to monitor energy consumption at the granularity of a host. The value reported in `_jobs.csv` for each

[2021-08-18 14:05] mpoquet commented on #65
Hi! Indeed, the energy consumption of *jobs* does not make much sense.
It was added for convenience's sake after a request by David for [this article](https://hal.archives-ouvertes.fr/hal-01533417/document).

Your fix proposal looks like an improvement of the current code (that just returns the energy consumed by the hosts during the job execution), but I am not sure that trying to do anything sma

[2021-08-18 14:19] mpoquet commented on #54
I agree that it would be a good addition. Opened [#126](https://gitlab.inria.fr/batsim/batsim/-/issues/126) to track it.

[2021-08-20 10:15] maelmadon commented on #65
I agree with you that allocating an energy value to a job is a tricky question. Though, I might do it eventually for my work and in this case I'll propose it as a PR.

For now: I propose [this addition](https://github.com/Mema5/batsim/commit/005288e692f6c45aee9c06f65a2eeca11aa95bad) in the doc, that would hopefully remove any ambiguity. I could not find a better (and short) name for the field `con

[2021-08-20 12:09] mpoquet commented on #65
Cherry-picked as 005ea64, thanks :).

I'll close this issue for now, feel free to reopen it if you plan to add the feature soon.

[2021-08-20 12:09] #65 closed, assigned to nobody

[2021-08-20 12:10] mpoquet commented on #44
I close this issue as this seems fixed. Please reopen the issue if you do not agree.

[2021-08-20 12:10] #44 closed, assigned to nobody

[2021-08-20 12:11] mpoquet commented on #21
Closing this issue as this seems fixed.

[2021-08-20 12:11] #21 closed, assigned to mpoquet

[2021-08-20 12:12] mpoquet commented on #33
Closing this issue as MSG is gone. Please open another issue to track memory leaks if needed.

[2021-08-20 12:12] #33 closed, assigned to nobody

[2021-08-20 12:13] mpoquet commented on #39
Closing this issue as this should be fixed AND because redis is about to vanish.

[2021-08-20 12:13] #39 closed, assigned to nobody

[2021-08-20 12:16] mpoquet commented on #6
This has been done for jobs by @Mommessc IIRC.
Closing this issue as it is super old and solved for the main output file. Please reopen it if needed for other output files.

[2021-08-20 12:16] #6 closed, assigned to nobody

[2021-08-23 08:18] mpoquet commented on #25
What about checking this @Mommessc? :D

[2021-08-23 09:01] Mommessc commented on #25
After struggling with your very old data I managed to run the batsim simulation but the python script did not report any faulty line.

[2021-08-23 10:03] #51 closed, assigned to mpoquet

[2021-08-23 11:27] #38 closed, assigned to nobody

[2021-08-25 11:47] mpoquet commented on #25
OK, I close this issue, this has probably been fixed a long time ago.

[2021-08-25 11:47] #25 closed, assigned to mpoquet

[2021-09-14 13:59] maelmadon opened #66 "Wrong computation time for multicore execution after a sleep"
Hello,
Today I bumped into an issue with my experiments, I don't know yet if it's a bug from my side, Batsim or Simgrid.

## Bug description
I have a two identical jobs with 4 parallel tasks each, submitted at t=0 and t=5000.

- Case 1: I schedule job0 and job1 on the multicore machine0, staying idle between executions
![image](https://user-images.githubusercontent.com/36968988/133270352-09668cbf-

[2021-09-14 14:40] mpoquet commented on #66
Mmh I confirm that I can see the same thing that you described by reading Batsim logs.

- The two jobs seems to use the same profile.
- The two jobs are allocated on the same host, which seems to be on the same state (nothing running on it) and on the same pstate (0)
- First job completes in 3520 s, while the second completes in 14080=4*3520 s.

Potential issues:
- Are your machines initialized wi

[2021-09-14 15:13] maelmadon commented on #66
Hi @mpoquet and thanks for your answer. My platform file and workload file are pretty straightforward, I pasted them at the end of this post.

- Yes, my machines are initialized with pstate=0 in my platform file.
- My tasks do no communication.

I will try to identify if the problem comes from Simgrid or Batsim and follow up.

Workload file:
[code]

Platform file:
[code]

[2021-09-15 09:26] maelmadon commented on #66
Well intuited @mpoquet, it comes from simgrid.

I submitted the issue on SimGrid's repo : [issue #95](https://framagit.org/simgrid/simgrid/-/issues/95).

[2021-12-15 11:10] maelmadon opened #67 "Simultaneous events sent in different batsim messages"
## Description of the problem
I experience a case in my simulations where two simultaneous events are sent in different batsim events. See the log bellow where the following happens simultaneously (timestamp 226640.000000):
- Jobs 2222, 2223 and 2224 are submitted
- Job 2129 completes

[code]

According to @mpoquet this is normal but could be changed:

I would like to change this behavior and send

[2021-12-15 12:23] mpoquet commented on #67
I could not reproduce the issue. I also tried to execute several jobs from the same scheduler message to see if the job completion events are sent in the same message. **Yes, the two JOB_COMPLETED were sent in the same message**. I used the `cluster512.xml` platform on the following workload.

[code]

batsim log
[code]
Furthermore it seems that Batsim already makes sure that the *server*'s mailbox

[2021-12-15 12:23] #67 closed, assigned to nobody

[2022-01-26 10:02] Mommessc commented on #66
It seems the SimGrid issue was fixed, can we close this one too?

[2022-01-26 12:10] mpoquet commented on #66
I also think that SimGrid#95 fixed this issue, but the following should be done before marking this issue as closed.
- [ ] make sure that SimGrid#95 fixed this specific problem
- [ ] make sure that the latest Batsim release on NUR-Kapack uses a fixed SimGrid version.

NB: A new SimGrid version should be released very soon.

[2022-06-28 07:37] maelmadon commented on #66
I can confirm that this bug is fixed with batsim 4.1.0 and simgrid 3.31.0, which is the latest Batsim release on NUR-Kapack.

[2022-06-28 07:37] #66 closed, assigned to nobody